{% extends "_template.html" %}
{% block title %}{{site_config.current_title}}{% endblock %}
{% block banner %}
      <!-- ================ -->
      <div class="banner clearfix">

        <!-- slideshow start -->
        <!-- ================ -->
        <div class="slideshow">

          <!-- slider revolution start -->
          <!-- ================ -->
          <div class="slider-revolution-5-container">
            <div id="slider-banner-fullwidth-big-height" class="slider-banner-fullwidth-big-height rev_slider" data-version="5.0">
              <ul class="slides">
                <!-- slide 1 start -->
                <!-- ================ -->
                <li data-transition="crossfade" data-slotamount="default" data-masterspeed="default" data-title="Wellcome">

                <!-- main image -->
                <img src="https://cdn.static-patient-portal.recintodev.com/images/medical-slider-slide-1.jpg" alt="slidebg1" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover"  class="rev-slidebg">

                <!-- Transparent Background -->
                <div class="tp-caption light-translucent-bg"
                  data-x="center"
                  data-y="center"
                  data-start="0"
                  data-transform_idle="o:1;"
                  data-transform_in="o:0;s:600;e:Power2.easeInOut;"
                  data-transform_out="o:0;s:600;"
                  data-width="5000"
                  data-height="5000">
                </div>

                <!-- LAYER NR. 1 -->
                <div class="tp-caption large_dark"
                  data-x="left"
                  data-y="220"
                  data-start="500"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:1150;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Compassionate care
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption medium_dark"
                  data-x="left"
                  data-y="290"
                  data-start="750"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;s:850;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Nesciunt, maiores, aliquid. Repellat eum numquam aliquid culpa offici, <br> tenetur fugiat dolorum sapiente eligendi...
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption small_dark"
                  data-x="left"
                  data-y="410"
                  data-start="1000"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:600;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"><a href="#" class="btn btn-dark btn-default btn-animated">Learn More <i class="fa fa-arrow-right"></i></a>
                </div>

                </li>
                <!-- slide 1 end -->

                <!-- slide 2 start -->
                <!-- ================ -->
                <li class="text-right" data-transition="crossfade" data-slotamount="default" data-masterspeed="default" data-title="Top Doctors">

                <!-- main image -->
                <img src="https://cdn.static-patient-portal.recintodev.com/images/medical-slider-slide-2.jpg" alt="slidebg2" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover" class="rev-slidebg">

                <!-- Transparent Background -->
                <div class="tp-caption dark-translucent-bg"
                  data-x="center"
                  data-y="center"
                  data-start="0"
                  data-transform_idle="o:1;"
                  data-transform_in="o:0;s:600;e:Power2.easeInOut;"
                  data-transform_out="o:0;s:600;"
                  data-width="5000"
                  data-height="5000">
                </div>

                <!-- LAYER NR. 1 -->
                <div class="tp-caption large_white"
                  data-x="right"
                  data-y="200"
                  data-start="500"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:1150;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Top doctors providing quality care
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption large_white tp-resizeme"
                  data-x="right"
                  data-y="270"
                  data-start="750"
                  data-transform_idle="o:1;"
                  data-transform_in="o:0;s:2000;e:Power4.easeInOut;">
                    <div class="separator-3 light"></div>
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption medium_white"
                  data-x="right"
                  data-y="290"
                  data-start="750"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;s:850;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Nesciunt, maiores, aliquid. Repellat eum numquam aliquid culpa offici, <br> tenetur fugiat dolorum sapiente eligendi...
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption small_white"
                  data-x="right"
                  data-y="410"
                  data-start="1000"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:600;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"><a href="#" class="btn btn-dark btn-default btn-animated">Learn More <i class="fa fa-arrow-right"></i></a>
                </div>

                </li>
                <!-- slide 2 end -->
              </ul>
              <div class="tp-bannertimer"></div>
            </div>
          </div>
          <!-- slider revolution end -->

        </div>
        <!-- slideshow end -->

      </div>
{% endblock %}

{% block content %}
      <!-- section start -->
      <!-- ================ -->
      <section class="pv-30 light-gray-bg clearfix">
        <div class="container">
          <h3 class="title logo-font text-center text-default">The Clinic</h3>
          <div class="separator"></div>
          <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea aut voluptates quia <br> eveniet velit inventore, corporis, rem laboriosam. Ex ipsam nihil, quos dicta atque alias vel sunt. Libero, molestiae quidem?</p>
          <br>
          <div class="row grid-space-10">
            <div class="col-md-6 col-lg-3">
              <div class="pv-30 ph-20 white-bg hc-item-box bordered text-center">
                <span class="icon default-bg circle"><i class="fa fa-plus-square"></i></span>
                <h3>Since 1930</h3>
                <div class="separator clearfix"></div>
                <p>Voluptatem ad provident non repudiandae beatae cupiditate amet reiciendis lorem ipsum dolor sit amet, consectetur.</p>
                <a href="#" class="btn btn-default btn-animated">Read More <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="pv-30 ph-20 white-bg hc-item-box bordered text-center">
                <span class="icon default-bg circle"><i class="fa fa-hospital-o"></i></span>
                <h3>Apointments</h3>
                <div class="separator clearfix"></div>
                <p>Iure sequi unde hic. Sapiente quaerat sequi inventore veritatis cumque lorem ipsum dolor sit amet, consectetur.</p>
                <a href="#" class="btn btn-default btn-animated">Make An Apointment <i class="pl-1 fa fa-stethoscope"></i></a>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="pv-30 ph-20 default-bg hc-item-box bordered text-center">
                <span class="icon dark-bg circle"><i class="fa fa-phone"></i></span>
                <h3>Lorem Ipsum</h3>
                <div class="separator clearfix"></div>
                <p>Inventore dolores aut laboriosam cum consequuntur delectus sequi lorem ipsum dolor sit amet, consectetur.</p>
                <a href="#" class="btn btn-default btn-animated">Let's talk <i class="pl-1 fa fa-phone"></i></a>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="pv-30 ph-20 white-bg hc-item-box bordered text-center">
                <span class="icon default-bg circle"><i class="fa fa-clock-o"></i></span>
                <h3>Opening Hours</h3>
                <div class="separator-2 mt-20 clearfix"></div>
                <ul class="list-unstyled small list-icons text-left">
                  <li><strong class="text-default">Monday - Friday</strong> <span class="pull-right">8.00 - 18.00</span></li>
                  <li><strong class="text-default">Saturday</strong> <span class="pull-right">9.00 - 16.30</span></li>
                  <li><strong class="text-default">Sunday</strong> <span class="pull-right">9.30 - 16.00</span></li>
                </ul>
                <div class="separator-3 mt-20 clearfix"></div>
                <p class="small text-default">Lorem ipsum dolor sit amet, consectetur.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->

      <!-- section start -->
      <!-- ================ -->
      <a name="findadoctor"></a>
      <section class="section dark-bg clearfix">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="call-to-action text-center">
                <div class="row">
                  <div class="col-md-8">
                    <h1 class="title"><i class="fa fa-user-md pr-10"></i>Find A Doctor</h1>
                    <ul class="list-inline">
                      <li class="list-inline-item"><i class="fa fa-circle text-default"></i> <a href="#" class="link-light">Cardiologists‎</a></li>
                      <li class="list-inline-item"><i class="fa fa-circle text-default"></i> <a href="#" class="link-light">Dermatologists‎</a></li>
                      <li class="list-inline-item"><i class="fa fa-circle text-default"></i> <a href="#" class="link-light">Diabetologists‎</a></li>
                      <li class="list-inline-item"><i class="fa fa-circle text-default"></i> <a href="#" class="link-light">Gastroenterologists</a></li>
                      <li class="list-inline-item"><i class="fa fa-circle text-default"></i> <a href="#" class="link-light">Gynaecologists‎</a></li>
                    </ul>
                  </div>
                  <div class="col-md-4">
                    <br>
                    <p><a href="#" class="btn btn-lg btn-default btn-animated">More Specialties<i class="fa fa-search pl-20"></i></a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->

      <!-- section start -->
      <!-- ================ -->
      <section class="section clearfix">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <h3 class="mt-4">Latest <span class="text-default">News</span></h3>
              <div class="separator-2"></div>
              <div class="block">
                <div class="media margin-clear">
                  <div class="d-flex pr-2">
                    <div class="overlay-container">
                      <img class="media-object" src="https://cdn.static-patient-portal.recintodev.com/images/medical-blog-thumb-1.jpg" alt="blog-thumb">
                      <a href="blog-post.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h5 class="media-heading mb-2"><a href="blog-post.html">Lorem ipsum dolor sit amet</a></h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt corrupti, cum exercitationem.</p>
                    <a href="#">Read More<i class="fa fa-long-arrow-right pl-1"></i></a>
                  </div>
                </div>
                <hr>
                <div class="media margin-clear">
                  <div class="d-flex pr-2">
                    <div class="overlay-container">
                      <img class="media-object" src="https://cdn.static-patient-portal.recintodev.com/images/medical-blog-thumb-2.jpg" alt="blog-thumb">
                      <a href="blog-post.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h5 class="media-heading mb-2"><a href="blog-post.html">Perspiciatis laborum necess</a></h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt corrupti, cum exercitationem.</p>
                    <a href="#">Read More<i class="fa fa-long-arrow-right pl-1"></i></a>
                  </div>
                </div>
                <hr>
                <div class="media margin-clear">
                  <div class="d-flex pr-2">
                    <div class="overlay-container">
                      <img class="media-object" src="https://cdn.static-patient-portal.recintodev.com/images/medical-blog-thumb-3.jpg" alt="blog-thumb">
                      <a href="blog-post.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                    </div>
                  </div>
                  <div class="media-body">
                    <h5 class="media-heading mb-2"><a href="blog-post.html">Cum eligendi nisi rerum porro</a></h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt corrupti, cum exercitationem.</p>
                    <a href="#">Read More<i class="fa fa-long-arrow-right pl-1"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <h3 class="mt-4">Our <span class="text-default">Departments</span></h3>
              <div class="separator-2"></div>
              <!-- accordion start -->
              <!-- ================ -->
              <div class="collapse-style-2 mb-4" id="accordion-2" role="tablist" aria-multiselectable="true">
                <div class="card">
                  <div class="card-header" role="tab" id="headingOne">
                    <h4 class="mb-0">
                      <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseOne-2" aria-expanded="true" aria-controls="collapseOne-2">
                        <i class="fa fa-eye pr-10"></i>Ophthalmology
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne-2" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-block bordered p-15">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officiaasd. <a href="#">Read More<i class="fa fa-long-arrow-right pl-1"></i></a>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" role="tab" id="headingTwo">
                    <h4 class="mb-0">
                      <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseTwo-2" class="collapsed" aria-expanded="true" aria-controls="collapseTwo-2">
                        <i class="fa fa-leaf pr-10"></i>Primary care
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-block bordered p-15">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officiaasd. <a href="#">Read More<i class="fa fa-long-arrow-right pl-1"></i></a>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" role="tab" id="headingThree">
                    <h4 class="mb-0">
                      <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseThree-2" class="collapsed" aria-expanded="true" aria-controls="collapseThree-2">
                        <i class="fa fa-users pr-10"></i>Paediatrics
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="card-block bordered p-15">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officiaasd. <a href="#">Read More<i class="fa fa-long-arrow-right pl-1"></i></a>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" role="tab" id="headingFour">
                    <h4 class="mb-0">
                      <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseFour-2" class="collapsed" aria-expanded="true" aria-controls="collapseFour-2">
                        <i class="fa-female fa pr-10"></i>Gynaecology
                      </a>
                    </h4>
                  </div>
                  <div id="collapseFour-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="card-block bordered p-15">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officiaasd. <a href="#">Read More<i class="fa fa-long-arrow-right pl-1"></i></a>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" role="tab" id="headingFive">
                    <h4 class="mb-0">
                      <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseFive-2" class="collapsed" aria-expanded="true" aria-controls="collapseFive-2">
                        <i class="fa-road fa pr-10"></i>Orthopaedics
                      </a>
                    </h4>
                  </div>
                  <div id="collapseFive-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="card-block bordered p-15">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officiaasd. <a href="#">Read More<i class="fa fa-long-arrow-right pl-1"></i></a>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" role="tab" id="headingSix">
                    <h4 class="mb-0">
                      <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseSix-2" class="collapsed" aria-expanded="true" aria-controls="collapseSix-2">
                        <i class="fa-heart fa pr-10"></i>Cardiology
                      </a>
                    </h4>
                  </div>
                  <div id="collapseSix-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                    <div class="card-block bordered p-15">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officiaasd. <a href="#">Read More<i class="fa fa-long-arrow-right pl-1"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- accordion end -->
            </div>
            <div class="col-lg-3">
              <h3 class="mt-4">Health <span class="text-default">Services</span></h3>
              <div class="separator-2"></div>
              <div class="slick-carousel content-slider-with-large-controls-autoplay dark-controls light-gray-bg buttons-hide">
                <div class="image-box style-2">
                  <div class="overlay-container overlay-visible">
                    <img src="https://cdn.static-patient-portal.recintodev.com/images/medical-service-1.jpg" alt="">
                    <a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
                    <div class="overlay-bottom hidden-xs">
                      <div class="text">
                        <p class="lead margin-clear text-left">Medical Education</p>
                      </div>
                    </div>
                  </div>
                  <div class="body padding-horizontal-clear">
                    <p>Lorem ipsum dolor sit amet, consectetur adipis elit. Aliquam atque ipsam nihil dood truck quinoa.</p>
                    <a class="link-dark" href="page-services.html">Read More<i class="pl-1 fa fa-angle-double-right"></i></a>
                  </div>
                </div>
                <div class="image-box style-2">
                  <div class="overlay-container overlay-visible">
                    <img src="https://cdn.static-patient-portal.recintodev.com/images/medical-service-2.jpg" alt="">
                    <a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
                    <div class="overlay-bottom hidden-xs">
                      <div class="text">
                        <p class="lead margin-clear text-left">Seminars For Medicals Professionals</p>
                      </div>
                    </div>
                  </div>
                  <div class="body padding-horizontal-clear">
                    <p>Lorem ipsum dolor sit amet, consectetur adipis elit. Aliquam atque ipsam nihil dood truck quinoa.</p>
                    <a class="link-dark" href="page-services.html">Read More<i class="pl-1 fa fa-angle-double-right"></i></a>
                  </div>
                </div>
                <div class="image-box style-2">
                  <div class="overlay-container overlay-visible">
                    <img src="https://cdn.static-patient-portal.recintodev.com/images/medical-service-3.jpg" alt="">
                    <a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
                    <div class="overlay-bottom hidden-xs">
                      <div class="text">
                        <p class="lead margin-clear text-left">Research &amp; Development</p>
                      </div>
                    </div>
                  </div>
                  <div class="body padding-horizontal-clear">
                    <p>Lorem ipsum dolor sit amet, consectetur adipis elit. Aliquam atque ipsam nihil dood truck quinoa.</p>
                    <a class="link-dark" href="page-services.html">Read More<i class="pl-1 fa fa-angle-double-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->

      <!-- section start -->
      <!-- ================ -->
      <section class="full-width-section">
        <div class="full-image-container light-gray-bg">
          <img class="to-right-block" src="https://cdn.static-patient-portal.recintodev.com/images/medical-section-image-1.jpg" alt="">
          <div class="full-image-overlay text-right">
            <h3 class="mt-4">With Compassionate Care Since 1930</h3>
            <ul class="list-icons">
              <li>Unt in culpa qui deserunt <i class="fa fa-check-square-o"></i></li>
              <li>Elegant Design <i class="fa fa-check-square-o"></i></li>
              <li>ipsam asperiores fugiat quo <i class="fa fa-check-square-o"></i></li>
              <li>Animi veniam veritatis sint <i class="fa fa-check-square-o"></i></li>
              <li>Voluptatum officia suscipit <i class="fa fa-check-square-o"></i></li>
              <li>Labore et dolore magna aliqua <i class="fa fa-check-square-o"></i></li>
            </ul>
          </div>
        </div>
        <div class="full-text-container light-gray-bg">
          <h3 class="logo-font mt-4"><span class="text-muted">The</span> <span class="text-default">Clinic</span></h3>
          <div class="separator-2 hidden-lg-down"></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi veniam, veritatis sint consequuntur! Natus, culpa, explicabo! Non quo laboriosam nobis quia, amet excepturi optio dolor impedit. Perferendis libero unde, nulla deserunt sequi. Voluptatum, officia suscipit porro reprehenderit vitae quo rem reiciendis, a vero quae. Vero beatae voluptatum.</p>
          <div class="separator-3 hidden-lg-down"></div>
        </div>
      </section>
      <!-- section end -->

      <!-- section start -->
      <!-- ================ -->
      <section class="clearfix">
        <div class="container pv-20">
          <div class="row justify-content-lg-center">
            <div class="col-lg-8">
              <h3 class="mt-4 text-center">Meet Our <span class="text-default">Team</span></h3>
              <div class="separator"></div>
              <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo dignissimos, adipisci ipsa aut voluptate consequuntur ad minus rerum reprehenderit fuga quis eum eveniet eligendi, fugit neque laboriosam unde quae incidunt.</p>
            </div>
          </div>
        </div>
        <div class="row grid-space-0">
          <div class="col-lg-3 col-md-6">
            <div class="image-box team-member hc-shadow mb-20">
              <div class="overlay-container overlay-visible">
                <img src="https://cdn.static-patient-portal.recintodev.com/images/medical-team-member-1.jpg" alt="">
                <a href="#" class="overlay-link" title="Prof. Doctor - CEO"><i class="fa fa-link"></i></a>
                <div class="overlay-bottom">
                  <div class="text">
                    <h3 class="title">Dr. Doctor</h3>
                    <div class="separator light"></div>
                    <p class="small margin-clear"><em>Diabetologists‎ <br> Lorem ipsum dolor sit</em></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="image-box team-member hc-shadow mb-20">
              <div class="overlay-container overlay-visible">
                <img src="https://cdn.static-patient-portal.recintodev.com/images/medical-team-member-2.jpg" alt="">
                <a href="#" class="overlay-link" title="Prof. Doctor - CEO"><i class="fa fa-link"></i></a>
                <div class="overlay-bottom">
                  <div class="text">
                    <h3 class="title">Prof. Doctor</h3>
                    <div class="separator light"></div>
                    <p class="small margin-clear"><em>Dermatologists‎ <br> Lorem ipsum dolor sit</em></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="image-box team-member hc-shadow mb-20">
              <div class="overlay-container overlay-visible">
                <img src="https://cdn.static-patient-portal.recintodev.com/images/medical-team-member-3.jpg" alt="">
                <a href="#" class="overlay-link" title="Prof. Doctor - CEO"><i class="fa fa-link"></i></a>
                <div class="overlay-bottom">
                  <div class="text">
                    <h3 class="title">Dr. Doctor</h3>
                    <div class="separator light"></div>
                    <p class="small margin-clear"><em>Gastroenterologists <br> Lorem ipsum dolor sit</em></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="image-box team-member hc-shadow mb-20">
              <div class="overlay-container overlay-visible">
                <img src="https://cdn.static-patient-portal.recintodev.com/images/medical-team-member-4.jpg" alt="">
                <a href="#" class="overlay-link" title="Prof. Doctor - CEO"><i class="fa fa-link"></i></a>
                <div class="overlay-bottom">
                  <div class="text">
                    <h3 class="title">Prof. Doctor</h3>
                    <div class="separator light"></div>
                    <p class="small margin-clear"><em>Gynaecologists‎ <br> Lorem ipsum dolor sit</em></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slick-carousel space-bottom content-slider">
          <div>
            <div class="container">
              <div class="row justify-content-md-center">
                <div class="col-md-8">
                  <div class="testimonial text-center">
                    <div class="testimonial-image">
                      <img src="https://cdn.static-patient-portal.recintodev.com/images/testimonial-1.jpg" alt="Famous Person" title="Famous Person" class="rounded-circle">
                    </div>
                    <h3 class="mt-3">Just Perfect!</h3>
                    <div class="separator"></div>
                    <div class="testimonial-body">
                      <blockquote>
                        <p>Sed ut perspiciatis unde omnis iste natu error sit voluptatem accusan tium dolore laud antium, totam rem dolor sit amet tristique pulvinar, turpis arcu rutrum nunc, ac laoreet turpis augue a justo.</p>
                      </blockquote>
                      <div class="testimonial-info-1">- Famous Person</div>
                      <div class="testimonial-info-2">By Company</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="container">
              <div class="row justify-content-md-center">
                <div class="col-md-8">
                  <div class="testimonial text-center">
                    <div class="testimonial-image">
                      <img src="https://cdn.static-patient-portal.recintodev.com/images/testimonial-2.jpg" alt="Famous Person" title="Famous Person" class="rounded-circle">
                    </div>
                    <h3 class="mt-3">Amazing!</h3>
                    <div class="separator"></div>
                    <div class="testimonial-body">
                      <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et cupiditate deleniti ratione in. Expedita nemo, quisquam, fuga adipisci omnis ad mollitia libero culpa nostrum est quia eos esse vel!</p>
                      </blockquote>
                      <div class="testimonial-info-1">- Famous Person</div>
                      <div class="testimonial-info-2">By Company</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->
{% endblock %}