{% extends "_template.html" %} {% block title %}{{site_config.current_title}}{% endblock %} {% block banner %}
<!-- ================ -->
<div class="banner clearfix">
  <div class="container">
    <div class="row">
      <div class="col-md-6 form-block p-30 border-clear">
        <input type="hidden" id="userId" value="{{ user['id'] }}">
        <h2 class="title">User Profile</h2>

        <div class="form-group has-feedback row">
          <label for="login" class="col-md-4 control-label text-md-right col-form-label">User name:</label>
          <div class="col-md-8" id="login">
            {{ user_profile['login'] }}
          </div>
        </div>

        <div class="form-group has-feedback row">
          <label for="first_name" class="col-md-4 control-label text-md-right col-form-label">First name:</label>
          <div class="col-md-8">
            <input type="text" id="first_name" size="40" value="{{ user_profile['firstName'] }}">
          </div>
        </div>

        <div class="form-group has-feedback row">
          <label for="last_name" class="col-md-4 control-label text-md-right col-form-label">Last name:</label>
          <div class="col-md-8">
            <input type="text" id="last_name" size="40" value="{{ user_profile['lastName'] }}">
          </div>
        </div>

        <div class="form-group has-feedback row">
          <label for="email" class="col-md-4 control-label text-md-right col-form-label">Email:</label>
          <div class="col-md-8">
            <input type="email" id="email" size="40" value="{{ user_profile['email'] }}">
          </div>
        </div>

        <div class="form-group has-feedback row">
          <label for="secondEmail" class="col-md-4 control-label text-md-right col-form-label">Alternate Email:</label>
          <div class="col-md-8">
            <input type="email" id="second_email" size="40" value="{{ user_profile['secondEmail'] }}">
          </div>
        </div>

        <!--<div class="form-group has-feedback row">-->
        <!--  <label for="primary_phone" class="col-md-4 control-label text-md-right col-form-label">Primary Phone:</label>-->
        <!--  <div class="col-md-8">-->
        <!--  <input type="tel" id="primary_phone" size="40" value="{{ user_profile['primaryPhone'] }}">-->
        <!--  </div>-->
        <!--</div>-->

        <div class="form-group has-feedback row">
          <label for="mobile_phone" class="col-md-4 control-label text-md-right col-form-label">Mobile phone:</label>
          <div class="col-md-8">
            <input type="tel" id="mobile_phone" size="40" value="{{ user_profile['mobilePhone'] }}">
          </div>
        </div>

        <div class="form-group has-feedback row">
          <label for="height" class="col-md-4 control-label text-md-right col-form-label">Height:</label>
          <div class="col-md-8">
            <input type="text" id="height" size="40" value="{{ app_user['height'] }}">
          </div>
        </div>

        <div class="form-group has-feedback row">
          <label for="weight" class="col-md-4 control-label text-md-right col-form-label">Weight:</label>
          <div class="col-md-8">
            <input type="text" id="weight" size="40" value="{{ app_user['weight'] }}">
          </div>
        </div>

        <div class="form-group has-feedback row">
          <label for="dob" class="col-md-4 control-label text-md-right col-form-label">Birth date:</label>
          <div class="col-md-8">
            <input type="date" id="dob" size="40" value="{{ app_user['dob'] }}">
          </div>
        </div>

        <div class="form-group has-feedback row">
          <div class="col-md-4 "></div>
          <div class="col-md-4">
            <button type="button" id="saveUserProfileButton" class="btn btn-sm btn-default">
              Save
            </button>
          </div>
          <div class="col-md-4" id="statusMessage"></div>
          <div class="col-md-4"></div>
        </div>

      </div>

      <div class="col-md-6 form-block p-30 border-clear">
        <h2 class="title">Enrolled Factors</h2>

        <button type="button" id="_mfaAddFactorButton" class="btn btn-sm btn-default">
          Add a new factor
        </button>

        {% for factor in factors %}
        <div class="form-group row">
          <div class="col-md-8">
            {{ factor.name }}<br> {{ factor.profile }}
          </div>
          <div class="col-md-3"></div>
          <!--<div class="col-md-1">-->
          <!--  <a href="#" class="clickable editable" data-id="{{ factor['id'] }}"><i class="icon without-bg fa fa-cog"></i></a>-->
          <!--</div>-->
          <div class="col-md-1">
            <a href="#" class="clickable deleteable" data-id="{{ factor['id'] }}">
              <i class="icon without-bg fa fa-times-circle red"></i>
            </a>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extra_script %}
<script type="text/javascript" src="/js/mfa_enrollment.js"></script>
{% endblock %}

{% block content %}
<!-- MFA Enrollment -->
<input type="hidden" id="_mfaFactorID">
<input type="hidden" id="_mfaFactorType">
<input type="hidden" id="_mfaProvider">
<input type="hidden" id="_mfaFactorName">


<div class="modal fade" id="_mfaEnrollmentModal" tabindex="-1" role="dialog" aria-labelledby="_mfaEnrollLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="_mfaEnrollLabel">Enroll your Factor</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="_factorEnrollList">Choose a factor:</label>
          <select id="_factorEnrollList"></select>
        </div>

        <!-- sub-form for Okta Verify Push -->
        <div class="form-group" id="_mfaEnrollPushForm">

        </div>

        <!-- sub-form for SMS and voice call factors -->
        <div class="form-group" id="_mfaEnrollOTPForm">
          <label for="_mfaEnrollRecipient">Enter your phone number:</label>
          <input type="tel" id="_mfaEnrollRecipient">
          <button type="button" id="_sendEnrollOTPButton" class="btn btn-sm btn-default">
            Send SMS
          </button>
        </div>

        <!-- this holds the QR code for Okta Verify and Google Authenticator enrollment -->
        <div class="form-group" id="_mfaEnrollQRCodeForm">
          <div class="overlay-container">
            <img id="_mfaEnrollQRCode" class="overlay-image">
            <div class="overlay-effect hidden">
              <div class="overlay-icon">
                <i class="fa fa-check green"></i>
              </div>
            </div>
          </div>
          <p>Scan this QR code with your smartphone to complete enrollment.</p>
        </div>

        <!-- TOTP, SMS, email and voice all use this field -->
        <div class="form-group" id="_mfaEnrollVerifyCodeForm">
          <label for="_mfaEnrollPassCode">Enter your code:</label>
          <input type="text" id="_mfaEnrollPassCode">
          <button type="button" id="_mfaEnrollVerifyButton" class="btn btn-sm btn-default">
            Submit
          </button>
        </div>

        <!-- security question -->
        <div class="form-group" id="_mfaEnrollQuestionForm">
          <div>
            <!--<label for="mfaEnrollQuestion"></label>-->
            <select id="_mfaEnrollQuestion"></select>
          </div>
          <!--<label for="mfaAnswer">Answer:</label>-->
          <input type="text" id="_mfaEnrollAnswer" size="40">
          <button type="button" id="_mfaEnrollQuestionButton" class="btn btn-sm btn-default">
            Submit
          </button>
        </div>

        <div class="form-group" id="_mfaEnrollStatusForm">
          <span id="_mfaEnrollStatusMessage"></span>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" id="_mfaFinishEnrollButton" class="btn btn-sm btn-default">
          Done
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}